<!doctype html>
<html>
    <head>
        <title>Aqualink</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="container text-center">
            <nav class="navbar mb-2">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">
                        <img src="/static/temp-1.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top" id="logo">
                        Aqualink - monitoramento
                    </span>
                </div>
            </nav>
            <div class="row">
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-header">Temperatura atual do aquário</h5>
                            <p class="card-text">
                                <div class="GaugeMeter" 
                                    id="PreviewGaugeMeter_3" 
                                    data-percent="50" 
                                    data-text="<font id='valueTemperatura' style='font-size:25px;letter-spacing:-1px'>27</font>" 
                                    data-append=" ℃"
                                    data-size="200" 
                                    data-color="Green" 
                                    data-back="RGBa(0,0,0,.1)" 
                                    data-width="10"
                                    data-label="Temperatura" 
                                    data-style="Semi" 
                                    data-stripe="-1"
                                    data-label_color="#000">
                                </div>
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Abaixo é possível forçar um nível de temperatura em ℃</li>
                                <li class="list-group-item">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-auto">
                                            <label for="temperatura" class="col-form-label">Aquecedor: <span id="tempAnterior">--</span></label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-auto">
                                            <label for="temperatura" class="col-form-label">ligar/desligar: </label>
                                          </div>
                                          <!--
                                          <div class="col">
                                            <input type="number" id="temperatura" class="form-control">
                                          </div>
                                          -->
                                          <div class="col-auto">
                                            <span class="form-text">
                                                <button type="button" id="temperatura_btn" class="btn btn-primary">Atualizar</button>
                                            </span>
                                          </div>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <div class="card" >
                        <div class="card-body">
                            <h5 class="card-header">Luminosidade atual do aquário</h5>
                            <p class="card-text">
                                <div class="GaugeMeter" 
                                    id="PreviewGaugeMeter_3" 
                                    data-percent="70" 
                                    data-text="<font id='valueLuminosidade' style='font-size:25px;letter-spacing:-1px'>1500</font>" 
                                    data-append=" lm"
                                    data-size="200" 
                                    data-color="Red" 
                                    data-back="RGBa(0,0,0,.1)" 
                                    data-width="10"
                                    data-label="Luminosidade" 
                                    data-style="Semi" 
                                    data-stripe="-1"
                                    data-label_color="#000">
                                </div>
                            </p>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Abaixo é possível forçar um nível de luminosidade em lumens</li>
                                <li class="list-group-item">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-auto">
                                            <label for="luminosidade" class="col-form-label">Luz: <span id="lumAnterior">--</span> </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-auto">
                                            <label for="luminosidade" class="col-form-label">Ligar/Desligar: </label>
                                          </div>
                                          <!--
                                          <div class="col">
                                            <input type="number" id="luminosidade" class="form-control">
                                          </div>
                                          -->
                                          <div class="col-auto">
                                            <span class="form-text">
                                                <button type="button" id="luminosidade_btn" class="btn btn-primary">Atualizar</button>
                                            </span>
                                          </div>
                                    </div>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="static/jquery.AshAlom.gaugeMeter-2.0.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script>
            // <span id="tempAnterior">--</span>
            var temperatura_anterior =  document.getElementById('tempAnterior');
            var luminosidade_anterior = document.getElementById('lumAnterior');
            var botaoAtualizar = document.getElementById('logo');
            function get_temperatura() {
                fetch(`{{url}}/get/temperatura/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        var gaugeValueTemp = document.getElementById('valueTemperatura');
                        gaugeValueTemp.innerText = data;
                    }
                );
            }

            function get_luminosidade() {
                fetch(`{{url}}/get/luminosidade/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        var gaugeValueLum = document.getElementById('valueLuminosidade');
                        gaugeValueLum.innerText = data;
                    }
                );
            }

            function get_data() {
                get_luminosidade()
                get_temperatura()
            }
            setInterval(get_data, 4000)

            function set_temperatura(event) {
                //var temperatura_value  = document.getElementById('temperatura');
                fetch(`{{url}}/set/temperatura/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        temperatura_anterior.innerText = data;
                    }
                );
            }
            function set_luminosidade(event) {
                //var luminosidade_value  = document.getElementById('luminosidade');
                fetch(`{{url}}/set/luminosidade/`, { method: "GET"}).then(
                    response => response.json()
                ).then( 
                    (data) => {
                        luminosidade_anterior.innerText = data;
                    }
                );
            }
            var temperatura_btn  = document.getElementById('temperatura_btn');
            var luminosidade_btn = document.getElementById('luminosidade_btn');
            botaoAtualizar.addEventListener('click', get_data)
            temperatura_btn.addEventListener('click',  set_temperatura)
            luminosidade_btn.addEventListener('click', set_luminosidade)
            $(document).ready(function(){
                $(".GaugeMeter").gaugeMeter();
            });
        </script>
    </body>
    <style>
        .GaugeMeter {
            position: Relative;
            text-align: Center;
            overflow: Hidden;
            cursor: Default;
            display: inline-block;
        }

        .GaugeMeter SPAN, .GaugeMeter B {
            width: 54%;
            position: Absolute;
            text-align: Center;
            display: Inline-Block;
            color: RGBa(0,0,0,.8);
            font-weight: 100;
            font-family: "Open Sans", Arial;
            overflow: Hidden;
            white-space: NoWrap;
            text-overflow: Ellipsis;
            margin: 0 23%;
        }

        .GaugeMeter[data-style="Semi"] B {
            width: 80%;
            margin: 0 10%;
        }

        .GaugeMeter S, .GaugeMeter U {
            text-decoration: None;
            font-size: .60em;
            font-weight: 200;
            opacity: .6;
        }

        .GaugeMeter B {
            color: #000;
            font-weight: 200;
            opacity: .8;
        }
    </style>
</html>